@page
@using Shared.Models;
@using Intervals= Shared.Models.IntervalListModel;
@using Occurrences = Shared.Models.OccurrenceListModel;
@model Occurrences

@{
    ViewData["Title"] = "Occurrences";
    Layout = "Layouts/_Layout";
}

<h1>Occurrences</h1>

<h4>Occurrence</h4>
<hr />
<div class="row">
<div class="col-md-12">
    <h2> </h2>
    </div>

</div>
<div>
    
    <a asp-page="Index">Back to List</a>
</div>

